@font-face {
    font-family: Penguin;
    src: url(fonts/UNDERATTACK.ttf);
}

body{
    font-family: Penguin
}
.background{
    background-image: url("../css/images/ice-md.png");
    background-position:top left;
    background-repeat: repeat-x;

}
input{
    text-align:center;
    border: 7px solid #DADADA;
    border-radius: 7px;
    background-color:#F4F4F4;
    color: #a8a8a8;
    font-size: 25px;
    font-family: Arial;
    margin-top: 10px;
    width: 350px;
}
a:hover, a:focus, a:active{
    text-decoration: none;
}
.main-column h1{
    color: #10A195;
}
.header-login{
    color: #08776B;
    font-size: 25px;
    margin-top: 15px;
}
.header-menu{
    color: #2E4849;
    font-size: 25px;
}
.main-column{
    padding-top: 20px;
    padding-bottom: 30px;
}
.main-column .round-logo {
    background-color: #EDA321;
    border-radius:250px;
    text-align:center;
    max-width: 450px;
    display: inline-block;
    color: #A15110;
    font-size: 50px;
    padding-bottom: 20px;
}
.main-column .round-logo img{
    display:inline-block;
    margin: 40px;
    margin-bottom: 0;
}
#user-bar{
    background-color: #47C550;
    color: #ddff00;
    font-size: 20px;
    text-align: right;
}
#user-bar a#logout{
    margin-right:10px;
}
.main-options{
    margin-top:20px;
    font-size: 40px;
}
#register {
    color: #47C550;
}
.main-options .try-it{
    color: #E34115;
}
.main-top{
    background-color: #0DE3D7;
    font-size: 30px;
}
.main-top .main-link-albums{
    color: #E3900D;
}
.main-top .main-link-top3{
    font-size: 50px;
    color: #F14509;
    margin-bottom: 50px;
}
.main-top .main-link-top3 img{
    background-color: #ffffff;
    border-radius: 100px;
    padding:10px 10px;
    margin-left: 10px;
}
.main-top .main-link-albums img {
    background-color: #ffffff;
    border-radius: 100px;
    padding:20px 30px;
}
.main-bottom{
    background-color: #E98B1B;
    font-size:40px;
    padding-bottom: 100px;
}
.main-bottom .main-link-categories{
    top: -50px;
    color: #324DD8;
}
.main-bottom .main-link-categories img {
    background-color: #ffffff;
    border-radius: 100px;
    padding:20px;
}
.main-bottom .main-enter-link{
    background-color: #0DE3D7;
    padding: 35px;
    border: 3px solid #000000;
    border-radius:5px;
    color: #F14509;
    display: inline-block;
}

.left-column{
    background-color: #2F6074;
    padding-top: 20px;
    padding-bottom: 30px;
}
.left-column .album{
    margin: 40px 0;
}
.left-column h2{
    color: #47C550;
}
.photo-header{
    color: #1D78DD;
}
.photo-holder{
    background-color: #D0F7F1;
}
.photo-info{
    color: #F48E09;
    font-size: 20px;
    margin-top: 10px;
}
.photo-comments{
    background-color: #B9E18D;
    padding: 20px 0;
    color: #1D78DD;
}
textarea{
    color: #1D78DD!important;
}
.left-column .album h3:nth-of-type(2n+1){
    color:#B7EC7E;
}
.left-column .album h3:nth-of-type(2n){
    color:#47C550;
}
.left-column .album img{
    border-radius: 5px;
    border: 5px solid #000000;
    box-shadow: 10px 10px 5px #222222;
}
.conf-header{
    background-color: #5C85D9;
}
.conf-header a{
    color: #D3F3DC;
    font-size: 60px;
}
.conf-header .header-text{
    margin-top:40px;
}
.conf-header img{
    padding: 20px;
}
.conf-main .conf-menu{
    background-color: #D65928;
    color: #23D9E0;
}
.conf-main .conf-menu ul{
    padding-left: 0;
}
.conf-main .conf-menu li{
    font-size: 28px;
    margin-top: 40px;
    list-style-type: none;
}
.conf-main .conf-menu li:last-child{
    margin-bottom: 100px;
}
.conf-main .conf-menu a{
    color: #23D9E0;
}
.conf-main .profile-image{
    display: inline-block;
    margin-top: 30px;
}
.conf-footer{
    background-color: #E98B1B;
    font-size: 30px;
    padding: 35px 0;
}
.conf-footer a{
    color: #2E4849;
}
.noty-message{
    margin-top: 10px;
    display: block;
    font-size: 20px;
}
#user-albums{
    clear: right;
    display: inline-block;
}
.add-album{
    border: 2px solid #c3c3c3;
    border-radius: 5px;
    float: left;
    margin: 5px;
    max-width: 500px;
    text-align: center;
    padding: 8px;
}
.add-album .album-title{
    font-size: 30px;
    color: #2E4849
}
.add-album .album-likes{
    font-size: 20px;
    color: #08776B;
}
#btn-add-album{
    margin: 10px 0;
    color: #F14509;
    font-size: 19px;
    border: 2px solid #f14609;
    display: inline-block;
}
#btn-add-album:hover{
    background-color: #eaa289;
    color: #fff;
}
#btn-add-album:active{
    background-color: #e87c57;
    color: #fff;
}